## Anomaly Detection

Jess Gardin

Saroj Duwal

Lindy Castellaw

### Acquire/Wrangle

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import env
from wrangle import new_logs_data, get_logs_data, prepare

new_logs_data()
get_logs_data()
prepare(df)

In [2]:
df = get_logs_data()

In [3]:
df = prepare(df)
df.head()

,time,endpoint,user,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2018-01-26,09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [4]:
#split the endpoint into 4 different sections using / as sepeartor and concatenate to the dataframe
df= pd.concat([df, df.endpoint.str.split('/',3, expand = True)], axis=1)
# renaming the columns created after the split of endpoint columns as page 1, page 2,page 3, page 4 respectively
df.rename(columns={0:'page_1',1:'page_2',2:'page_3',3:'page_4'}, inplace = True)
df.head()

,time,endpoint,user,source_ip,cohort_name,start_date,end_date,program_id,page_1,page_2,page_3,page_4
date,,,,,,,,,,,,
2018-01-26,09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,,,None,None
2018-01-26,09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,java-ii,None,None,None
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,java-ii,object-oriented-programming,None,None
2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,slides,object_oriented_programming,None,None
2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0,javascript-i,conditionals,None,None

### Make dataframes for Staff, Data Science and Web Dev

In [5]:
df.program_id.value_counts()

2.0    713365
3.0    103412
1.0     30548
4.0         5
Name: program_id, dtype: int64

In [7]:


# web dev and DS with activity after end date into own df wit
web_dev = df[(df.program_id != 3) & (df['cohort_name'] != 'Staff')]
DS = df[df.program_id == 3] 
DS.head()

,time,endpoint,user,source_ip,cohort_name,start_date,end_date,program_id,page_1,page_2,page_3,page_4
date,,,,,,,,,,,,
2019-08-20,09:39:58,/,466,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0,,,None,None
2019-08-20,09:39:59,/,467,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0,,,None,None
2019-08-20,09:39:59,/,468,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0,,,None,None
2019-08-20,09:40:02,/,469,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0,,,None,None
2019-08-20,09:40:08,/,470,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0,,,None,None

In [8]:
web_dev.head()

,time,endpoint,user,source_ip,cohort_name,start_date,end_date,program_id,page_1,page_2,page_3,page_4
date,,,,,,,,,,,,
2018-01-26,09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,,,None,None
2018-01-26,09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,java-ii,None,None,None
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,java-ii,object-oriented-programming,None,None
2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,slides,object_oriented_programming,None,None
2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0,javascript-i,conditionals,None,None